<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Me</title>
    <link rel="stylesheet" href="../static/style.css"" />
  </head>
  <body>
    <!-- Navbar -->
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>

    <h1>About Me</h1>
    <p>I was born in a potato. I enjoy time travel and unicorn hunting.</p>

    <h2>Fun Facts</h2>
    <ul>
      <li>Best Banana Peeler of 2024</li>
      <li>Once met a llama at a bus stop!</li>
    </ul>

    <h3>Photo Gallery</h3>
    <img
      src="../static/20240907_232643.jpg"
      alt="My lunch"
      width="100"
      height="100"
    />
    <img
      src="../static/485693541.jpg"
      alt="Random street"
      width="100"
      height="100"
    />
    <!-- intentionally does not render because it does not exist. HENCE THE BAD DESIGN HAHA! -->
    <img
      src="dog-sunglasses.jpg"
      alt="Dog in sunglasses"
      width="100"
      height="100"
    />
    <br />
    <video autoplay loop playsinline muted preload="none" alt="Random Cat">
      <source
        src="../static/electricniceargentineruddyduck.mp4"
        type="video/mp4"
      />
      <p>Please use a modern browser to view this cat gif.</p>
    </video>
    <audio autoplay loop>
      <source
        src="../static/Nirvana_-_Smells_Like_Teen_Spirit_(HQ)(256k).mp3"
        type="audio/mpeg"
      />
      Your browser does not support the audio element.
    </audio>
  </body>
</html>
