<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Me</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <!-- Navbar -->
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>

    <h1>Contact Me</h1>
    <form
      onsubmit="alert('Are you sure you want to submit this? 🤔'); return true;"
    >
      <label for="message">Insert Your Life Story Here:</label>
      <textarea id="message" rows="4" cols="50"></textarea>
      <br />
      <label for="favorite-sandwich">Your Favorite Sandwich:</label>
      <input
        type="text"
        id="favorite-sandwich"
        placeholder="Type your answer here!"
      />
      <br />
      <label for="jellybeans">Number of Jellybeans in Your House:</label>
      <input type="number" id="jellybeans" placeholder="Guess a number!" />
      <input type="submit" value="Send" />
    </form>

    <h3>Random Map</h3>
    <!-- Yes, this is a map of dyson -->
    <img src="../static/20240731_152507.jpg" alt="Random Map" />
    <audio autoplay loop>
      <source src="../static/sauceblankfuels.mp3" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
  </body>
</html>
